<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.project.watnet.user.UserMapper">
 	<insert id="insUser" useGeneratedKeys="true" keyProperty="userPk">
 		INSERT INTO t_user
 		( userId, userPw, userMail, nickname, pNum, profileImg, userPoint )
 		VALUES
 		( #{userId}, #{userPw}, #{userMail}, #{nickname}, #{pNum}, #{profileImg}, 1000)
 	</insert>
 
 	<select id="selUser" resultType="UserEntity">
 		SELECT * FROM t_user
 		WHERE userId = #{userId}
 	</select>
 	
 	<select id="selNickname" resultType="UserEntity">
 		SELECT * FROM t_user
 		WHERE nickname = #{nickname}
 	</select>
 	
 </mapper>