* {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

button {
    outline: none;
}

ul {
    list-style: none;
}

ul>li {
    display: inline;
    font-size: 20px;
    margin: 10px;
}

.hidden {
	display: none !important;
}

.nav-container {
    display: flex;
    width: 100%;
    height: 90px;
    justify-content: space-between;
    align-items: center;
    padding: 0 35px;
    border-bottom: 1px solid #cfcbcb;
}

#watnet-logo {
    width: 100px;
    height: 40px;
}

#index-login-btn,
#index-logout-btn {
    width: 90px;
    height: 32px;
    border-radius: 24px;
    background-color: rgba(0,0,0,0);
    border: 1px solid #DB202C;
    color: #DB202C;
    cursor: pointer;
    font-size: 16px;
}



/* ------------------index css------------ */

.index-first-container {
    width: 100%;
    height: 1000px;
    background-image: url("/res/img/background.png");
    background-size: auto 470px;
    background-repeat: repeat-x;
    background-position-y: 100%;
    padding: 44px 35px;
    display: flex;
    justify-content: space-between;
}

.index-intro {
    width: 580px;
    height: 380px;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.index-span-div {
    margin-top: 50px;
}

.index-span {
    font-size: 50px;
    color: rgba(0,0,0,0.7);
    font-weight: 900;
}

.index-second-span {
    font-size: 24px;
    font-weight: 100;
    color: #707070;
}

.index-img-container {
    display: flex;
}

#netflix-logo,
#watcha-logo {
    margin: 10px;
    width: 90px;
    height: 90px;
}

#phone {
    width: 600px;
}

.index-second-container {
    width: 100%;
    height: 900px;
    padding: 44px 35px;
    margin: 50px 0;
}

.intro-span {
    font-size: 35px;
    color: #535353;
    font-weight: bold;
    margin: 50px;
}

#underline {
    width: 140px;
    height: 1px;
    margin: 18px 50px 0;
    border-bottom: 1px solid #000;
}

.intro-box {
    width: 100%;
    height: 500px;
}

.intro-box {
    display: flex;
    width:100%;
    justify-content: center;
    padding: 120px 20px 0;
}

.intro-left {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    border-right: 0.5px solid #e3e3e3;
}

.intro-right {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
}

#intro-left-img {
    width: 163px;
    height: 146px;
    margin: 20px 0 0 50px;
}

#intro-right-img {
    width: 186px;
    height: 168px;
}

.intro-box-title-span {
    margin-top: 70px;
    font-size: 27px;
    margin-bottom: 18px;
    font-weight: bold;
    color: #535353;
}

.intro-box-span {
    margin: 7px;
    font-size: 21px;
    color: #707070;
}

#up {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    cursor: pointer;
}

#up-img {
    width: 34px;
    height: 15px;
    margin-bottom: 10px;
}

#up-span {
    font-size: 23px;
    color: #9d9d9d;
    margin-bottom: 150px;
}


/* ----------------------------------login css--------------- */
.login-form {
    max-width: 400px;
    margin: 120px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login-watnet-logo {
    width: 170px;
    margin-bottom: 40px;
}

.login-form > input {
    width: 100%;
    height: 60px;
    padding: 0 20px;
    font-size: 16px;
    border-radius: 10px;
    color: #333;
    border: 1px solid #dddddd;
    margin-bottom: 10px;
}

.login-form > input:focus {
    outline: none;
    box-shadow: 0 0 3px 1px #DB202C;
}

.login-anchor {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.login-anchor > a {
    color: #333;
    font-size: 14px;
}

#login-btn {
    width: 100%;
    height: 60px;
    margin: 20px 0;
    padding: 0 10px;
    font-size: 18px;
    background-color:#DB202C;
    border: 0;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}

.login-span {
    width: 100%;
    font-size: 14px;
    color: #666666;
}

.login-span > .text-red {
    color:#DB202C;
}

.sns-login-container {
    width: 100%;
    margin-top: 40px;
    padding-top: 40px;
    border-top: 1px solid #dddddd;
    position: relative;
}

.sns-login-container::before {
    content: 'SNS LOGIN';
    position: absolute;
    top: -11px;
    left: 50%;
    display: block;
    width: 80px;
    margin-left: -40px;
    font-size: 12px;
    color: #666666;
    background-color: white;
    text-align: center;
}

.sns-login-img {
    width: 120px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}


/* -------------------------------------------------------login-modal css*/

#md_open {
	cursor: pointer;
}

.modal{
	position: fixed;
	top: 0; left: 0;
	width: 100%; height: 100%;
	display: flex;
	justify-content: center;
	align-items : center;
}

.md_overlay {
	background-color: rgba(0, 0, 0, 0.6);
	width: 100%; height: 100%;
	position: absolute;
}

.md_content {
	width: 400px;
	position: relative;
	padding: 50px 100px;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 6px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.20), 0 6px 6px rgba(0, 0, 0, 0.20);
}

#md_close {
	position: absolute;
	top: 5px;
	right: 5px;
	background-color: #fff;
	border: 0;
	cursor: pointer;
	font-size: 25px;
	font-weight: bold;
}

.md_input {
	width: 100%;
	height: 38px;
	margin: 5px;
    padding: 0 15px;
    font-size: 14px;
    color: #333;
    border: 1px solid #dddddd;
    border-radius: 8px;
}

#md_find,
#md_submit {
	color: #fff;
    border: solid 1px #DB202C;
    background-color: #DB202C;
    min-width: auto;
    padding: 0 16px;
    width: 100px;
    height: 32px;
    font-size: 14px;
    line-height: 30px;
    border-radius: 17px;
    cursor: pointer;
}


/* ------------------------------------------join css---------------- */

.join-container {
    max-width: 800px;
    margin: 0 auto;
}

.join-h3 {
    margin: 56px 0 20px;
    font-size: 18px;
    font-weight: bold;
    color: #333333;
}

.id_pw-form,
.join_userinfo-form,
.join_etc-form {
    padding: 25px 40px;
    border: solid 1px #bcbcbc;
    border-radius: 20px;
}

.id_pw-list,
.join_userinfo-list,
.join_etc-list {
    padding: 0;
    display: flex;
    flex-direction: column;
}

.id_pw-list li,
.join_userinfo-list li,
.join_etc-list li {
    margin: 5px 0;
    padding: 0;
}

.id_pw-list > li > span,
.join_userinfo-list > li > span,
.join_etc-list > li > span,
.profileImg-container > span {
    display: inline-block;
    width: 120px;
    padding: 10px 0;
    font-size: 14px;
    color: #333333;
}

.id_pw-list > li > input,
.join_userinfo-list > li > input,
.join_etc-list > li > input {
    width: 180px;
    height: 38px;
    padding: 0 15px;
    font-size: 14px;
    color: #333;
    border: 1px solid #dddddd;
    border-radius: 8px;
    outline: none;
    margin-right: 10px;
}

#idChk,
#nicknameChk,
#phoneNumberChk {
    padding: 0 16px;
    height: 32px;
    font-size: 14px;
    border: 0;
    border-radius: 17px;
    width: 120px;
    color: #DB202C;
    border: solid 1px #DB202C;
    cursor: pointer;
    margin-right: 20px;
}

.join_etc-list > li > .explanation,
.profileImg-container > .explanation,
.join_userinfo-list > li > .explanation {
    display: inline;
    font-size: 11px;
    font-weight: 300;
    color: #888888;
    line-height: 16px;
    word-break: keep-all;
}

#profileImg {
    display: none;
}

#profileImg-btn {
    display: inline-block;
    color: #DB202C;
    border: solid 1px #DB202C;
    min-width: auto;
    padding: 0 16px;
    height: 32px;
    font-size: 14px;
    line-height: 30px;
    border-radius: 17px;
    margin-right: 20px;
    cursor: pointer;
}

.join-btn-container {
    margin: 60px 0;
    text-align: center;
}

#cancleBtn,
#joinBtn {
    width: 240px;
    height: 70px;
    margin: 2px 0;
    padding: 0 10px;
    color: #fff;
    text-align: center;
    border: 0;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}

#cancleBtn {
    background-color: #cecdd4;
}

#joinBtn {
    background-color: #DB202C;
}

#idChkCheckbox,
#nicknameChkCheckbox,
#phoneNumberChkCheckbox {
	display: none;
}


/* -------------------------------------------board.html css */
.border-main-container {
    max-width: 1280px;
    margin: 0 auto;
}

.recVideo-container {
    width: 100%;
    padding: 40px 40px 0
}

.recVideo-img {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.recVideo-img > img {
    width: 24%;
    height: auto;
    margin: 10px;
    border-radius: 20px;
    cursor: pointer;
}

/*------------------------------- board modal 창 */
.recVideo_modal{
	position: fixed;
	top: 0; left: 0;
	width: 100%; height: 100%;
	display: flex;
	justify-content: center;
	align-items : center;
}

.recVideo_md_overlay {
	background-color: rgba(0, 0, 0, 0.6);
	width: 100%; height: 100%;
	position: absolute;
}

.recVideo_md_content {
	width: 800px;
    height: 440px;
	position: relative;
	background-color: #000;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 6px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.20), 0 6px 6px rgba(0, 0, 0, 0.20);
}

#recVideo_md_close {
	position: absolute;
	top: -35px;
	right: 5px;
	background: transparent;
	color: #fff;
	border: 0;
	cursor: pointer;
	font-size: 25px;
	font-weight: bold;
}


.board-header {
    display: flex;
    justify-content: space-between;
    padding: 40px 40px 0;
    align-items: center;
}

#makePartyBtn {
    width: 100px;
    height: 30px;
    color: #DB202C;
    border: 1px solid #DB202C;
    border-radius: 17px;
    cursor: pointer;
}

.board-container {
    padding: 0 40px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.board-article {
    width: 280px;
    margin: 10px;
    padding: 20px;
    border: solid 1px #dddddd;
    border-radius: 20px;
    background-color: #fff;
    /* display: inline-block; */
}

.artilce-h2 {
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.party-name {
    display: inline-block;
    font-size: 14px;
    height: 36px;
}

.article-img {
    margin: 14px 0;
}

.article-img > img {
    width: 32px;
    height: 32px;
}

.unrecruited {
    opacity: 0.3;
}

.article-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.party-date {
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.pay-point {
    font-size: 14px;
}

.pay-point > .price {
    font-size: 20px;
    font-weight: bold;
    margin: 3px;
}

.board-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
}

#moreSelect {
    width: 80px;
    height: 40px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    background-color:#DB202C;
    border: 0;
    border-radius: 4px;
}

/* ---------------------makeParty css부분------------ */
.makeParty-container {
    border: solid 1px #bcbcbc;
    border-radius: 20px;
    margin: 50px 10%;
    padding: 0 60px;
}

.makeParty-header {

}

.makeParty-list {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.makeParty-list > li {
    display: flex;
    align-items: center;
    margin: 0;
    
}

.makeParty-list-span {
    padding: 14px 0;
    display: inline-block;
    width: 120px;
    font-size: 14px;
    font-weight: bold;
}

#service-select {
    width: 350px;
    height: 30px;
    color: #888;
    font-size: 13px;
    border: solid 1px #ececec;
    border-radius: 5px;
    background-color: #f9f9f9;
    outline: none;
}

#service-select:focus {
    outline: none;
    box-shadow: 0 0 3px 1px #DB202C;
}

.makeParty-input {
    height: 30px;
    padding: 0 10px;
    font-size: 13px;
    border-radius: 5px;
    background-color: #f9f9f9;
    border: solid 1px #dddddd;
}

.makeParty-input:focus,
#makeParty-detail-rule:focus {
    outline: none;
    box-shadow: 0 0 3px 1px #DB202C;
}

.width-200 {
    width: 200px;
}

#makeParty-title-input {
    width: 400px;
    
}

.start-date > span,
.progress-date > span {
    font-size: 13px;
    margin-right: 20px;
}

#progress-mon-input {
    width: 45px;
}

.redColor {
    color: #DB202C;
}

#makeParty-detail-rule {
    width: 100%;
    height: 200px;
    resize: none;
    border: 1px solid #dddddd;
}

.makeParty-btn-container {
    margin: 60px 0;
    text-align: center;
}

#makeParty-cancleBtn,
#makeParty-submitBtn {
    width: 240px;
    height: 70px;
    margin: 2px 0;
    padding: 0 10px;
    color: #fff;
    text-align: center;
    border: 0;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}

#makeParty-cancleBtn {
    background-color: #cecdd4;
}

#makeParty-submitBtn {
    background-color: #DB202C;
}




/* PC , 테블릿 가로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {
    /*스타일입력*/
}

/* 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {
    /*스타일입력*/
}

/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/
@media all and (min-width:480px) and (max-width:767px) {
    /*스타일입력*/
}

/* 모바일 가로, 테블릿 세로 (해상도 ~ 479px)*/
@media all and (max-width:479px) {
    /*스타일입력*/
}