* {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

button {
    outline: none;
}

ul {
    list-style: none;
}

ul>li {
    display: inline;
    font-size: 20px;
    margin: 10px;
}

.nav-container {
    display: flex;
    width: 100%;
    height: 90px;
    justify-content: space-between;
    align-items: center;
    padding: 0 35px;
    border-bottom: 1px solid #cfcbcb;
}

#watnet-logo {
    width: 100px;
    height: 40px;
}

#index-login-btn {
    width: 90px;
    height: 32px;
    border-radius: 24px;
    background-color: rgba(0,0,0,0);
    border: 1px solid #DB202C;
    color: #DB202C;
    cursor: pointer;
    font-size: 16px;
}



/* ------------------index css------------ */

.index-first-container {
    width: 100%;
    height: 1000px;
    background-image: url("/res/img/background.png");
    background-size: auto 470px;
    background-repeat: repeat-x;
    background-position-y: 100%;
    padding: 44px 35px;
    display: flex;
    justify-content: space-between;
}

.index-intro {
    width: 580px;
    height: 380px;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.index-span-div {
    margin-top: 50px;
}

.index-span {
    font-size: 50px;
    color: rgba(0,0,0,0.7);
    font-weight: 900;
}

.index-second-span {
    font-size: 24px;
    font-weight: 100;
    color: #707070;
}

.index-img-container {
    display: flex;
}

#netflix-logo,
#watcha-logo {
    margin: 10px;
    width: 90px;
    height: 90px;
}

#phone {
    width: 600px;
}

.index-second-container {
    width: 100%;
    height: 900px;
    padding: 44px 35px;
    margin: 50px 0;
}

.intro-span {
    font-size: 35px;
    color: #535353;
    font-weight: bold;
    margin: 50px;
}

#underline {
    width: 140px;
    height: 1px;
    margin: 18px 50px 0;
    border-bottom: 1px solid #000;
}

.intro-box {
    width: 100%;
    height: 500px;
}

.intro-box {
    display: flex;
    width:100%;
    justify-content: center;
    padding: 120px 20px 0;
}

.intro-left {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    border-right: 0.5px solid #e3e3e3;
}

.intro-right {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
}

#intro-left-img {
    width: 163px;
    height: 146px;
    margin: 20px 0 0 50px;
}

#intro-right-img {
    width: 186px;
    height: 168px;
}

.intro-box-title-span {
    margin-top: 70px;
    font-size: 27px;
    margin-bottom: 18px;
    font-weight: bold;
    color: #535353;
}

.intro-box-span {
    margin: 7px;
    font-size: 21px;
    color: #707070;
}

#up {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    cursor: pointer;
}

#up-img {
    width: 34px;
    height: 15px;
    margin-bottom: 10px;
}

#up-span {
    font-size: 23px;
    color: #9d9d9d;
    margin-bottom: 150px;
}


/* ----------------------------------login css--------------- */
.login-form {
    max-width: 400px;
    margin: 120px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login-watnet-logo {
    width: 170px;
    margin-bottom: 40px;
}

.login-form > input {
    width: 100%;
    height: 60px;
    padding: 0 20px;
    font-size: 16px;
    border-radius: 10px;
    color: #333;
    border: 1px solid #dddddd;
    margin-bottom: 10px;
}

.login-form > input:focus {
    outline: none;
    box-shadow: 0 0 3px 1px #DB202C;
}

.login-anchor {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.login-anchor > a {
    color: #333;
    font-size: 14px;
}

#login-btn {
    width: 100%;
    height: 60px;
    margin: 20px 0;
    padding: 0 10px;
    font-size: 18px;
    background-color:#DB202C;
    border: 0;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}

.login-span {
    width: 100%;
    font-size: 14px;
    color: #666666;
}

.login-span > .text-red {
    color:#DB202C;
}

.sns-login-container {
    width: 100%;
    margin-top: 40px;
    padding-top: 40px;
    border-top: 1px solid #dddddd;
    position: relative;
}

.sns-login-container::before {
    content: 'SNS LOGIN';
    position: absolute;
    top: -11px;
    left: 50%;
    display: block;
    width: 80px;
    margin-left: -40px;
    font-size: 12px;
    color: #666666;
    background-color: white;
    text-align: center;
}

.sns-login-img {
    width: 120px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}




/* ------------------------------------------join css---------------- */

.join-container {
    max-width: 800px;
    margin: 0 auto;
}

.join-h3 {
    margin: 56px 0 20px;
    font-size: 18px;
    font-weight: bold;
    color: #333333;
}

.id_pw-form,
.join_userinfo-form,
.join_etc-form {
    padding: 25px 40px;
    border: solid 1px #bcbcbc;
    border-radius: 20px;
}

.id_pw-list,
.join_userinfo-list,
.join_etc-list {
    padding: 0;
    display: flex;
    flex-direction: column;
}

.id_pw-list li,
.join_userinfo-list li,
.join_etc-list li {
    margin: 5px 0;
    padding: 0;
}

.id_pw-list > li > span,
.join_userinfo-list > li > span,
.join_etc-list > li > span,
.profileImg-container > span {
    display: inline-block;
    width: 120px;
    padding: 10px 0;
    font-size: 14px;
    color: #333333;
}

.id_pw-list > li > input,
.join_userinfo-list > li > input,
.join_etc-list > li > input {
    width: 180px;
    height: 38px;
    padding: 0 15px;
    font-size: 14px;
    color: #333;
    border: 1px solid #dddddd;
    border-radius: 8px;
    outline: none;
    margin-right: 10px;
}

#idChk,
#nicknameChk,
#phoneNumberChk {
    padding: 0 16px;
    height: 32px;
    font-size: 14px;
    border: 0;
    border-radius: 17px;
    width: 120px;
    color: #DB202C;
    border: solid 1px #DB202C;
    cursor: pointer;
}

.join_etc-list > li > .explanation,
.profileImg-container > .explanation {
    display: inline;
    font-size: 11px;
    font-weight: 300;
    color: #888888;
    line-height: 16px;
    word-break: keep-all;
}

#profileImg {
    display: none;
}

#profileImg-btn {
    display: inline-block;
    color: #DB202C;
    border: solid 1px #DB202C;
    min-width: auto;
    padding: 0 16px;
    height: 32px;
    font-size: 14px;
    line-height: 30px;
    border-radius: 17px;
    margin-right: 20px;
    cursor: pointer;
}

.join-btn-container {
    margin: 60px 0;
    text-align: center;
}

#cancleBtn,
#joinBtn {
    width: 240px;
    height: 70px;
    margin: 2px 0;
    padding: 0 10px;
    color: #fff;
    text-align: center;
    border: 0;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}

#cancleBtn {
    background-color: #cecdd4;
}

#joinBtn {
    background-color: #DB202C;
}









/* PC , 테블릿 가로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {
    /*스타일입력*/
}

/* 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {
    /*스타일입력*/
}

/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/
@media all and (min-width:480px) and (max-width:767px) {
    /*스타일입력*/
}

/* 모바일 가로, 테블릿 세로 (해상도 ~ 479px)*/
@media all and (max-width:479px) {
    /*스타일입력*/
}